*{
    box-sizing: border-box;
    top: 0;
    left: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    top: 0;
    left: 0;
    max-width: 1600px;
}

.logo_block{
    border-bottom: 1px solid orange;
    align-items: center;
    display: flex;
}
.logo{
    opacity: 0.5;
    width: 200px;
    height: 100px;
}
.logo:hover{
    opacity: 1;
}
.ul_li{
    list-style: none;
    margin-left: 250px;
    font-size: 16px;
    display: flex;
}
.li{
    list-style: none;
    margin-left: 10px;
    text-decoration: none;
    color: silver;
    padding: 10px 35px;
    position: relative;
}
ul li a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
justify-content: center;
align-items: center;
}
.li::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0%; 
    background: orange;
    bottom: 0;
    left: 0;
    transition: 0.7s;
}
.li:hover::after{
    width: 100%;
}
.li::before{
    content: "";
    position: absolute;
    height: 1.5px;
    width: 0%; 
    background: orange;
    top: 0;
    right: 0;
    transition: 0.7s;
}
.li:hover::before{
    width: 100%;
}
.li:hover{
    transition: 0.3s;
    color: white;
}
.btn1{
    width: 120px;
    font-size: 16px;
    position: relative;
    list-style: none;
    background-color: transparent;
    text-transform: uppercase;
    border: 0.1px solid rgba(192, 192, 192, 0.062);
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    transition: 0.5s;
    margin-left: 10px;
}

span{
position: absolute;
width: 0%;
height: 100%;
background-color: orange;
z-index: -2;
transition: 0.8s;
}
.btn1:hover span{
    width: 100%;
}










.social_block{
    background-color: rgb(46, 45, 45, 0.3);
    align-items: center;
    margin-top: 20px;
    width: 80px;
    height: 520px;
    border: 1px solid orange;
}
.social{
    opacity: 0.7;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 40px;
}
.social:hover{
    opacity: 1;
    border: 2px solid orange;
}
.block{
    display: flex;
}
.first_image{
    display: flex;
}
.car{
    transition: 0.3s linear;
    margin-top: 20px;
    margin-left: 40px;
    width: 800px;
    height: 520px;
    border: 1px solid orange;
    z-index: 3;
}
.engine{
    color: white;
    width: 300px;
    font-size: 65px;
    margin-top: 100px;
    margin-left: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 15px;
    line-height: 100px;
    z-index: 10;
    animation: animate 5s linear infinite;
    color: white;
}
.engine:hover{
    color: orange;
    text-shadow: 0px 0px 20px aqua;
}
@keyframes animate{
    0%{
        opacity: 1;
        text-shadow: 0px 5px 20px ;
    }
    10%{
        opacity: 0;
        text-shadow: 0px 0px 20px orange;
    }
    20%{
        opacity: 1;
        text-shadow: 0px 5px 20px white;
    }
    30%{
        opacity: 0;
        text-shadow: 0px 0px 20px orange;
    }
    40%{
        opacity: 1;
        text-shadow: 0px 5px 20px white;
    }
    50%{
        opacity: 0;
        text-shadow: 0px 0px 20px orange;
    }
    60%{
        opacity: 1;
        text-shadow: 0px 5px 20px white;
    }
    70%{
        opacity: 0;
        text-shadow: 0px 0px 20px orange;
    }
    80%{
        opacity: 1;
        text-shadow: 0px 5px 20px white;
    }
    90%{
        opacity: 0;
        text-shadow: 0px 0px 20px orange;
    }
    100%{
        opacity: 1;
        text-shadow: 0px 5px 20px white;
    }
}







.middle_block{
    height: 1000px;
    width: 100%;
    background-color: rgb(0, 0, 8);
}
.basic_timeline{
    margin-top: 50px;
    height: 150px;
    display: flex;
}
.first_timeline{
    width: 49%;
    color: white;
}
.second_timeline{
    width: 49%;
    color: white;
    border-left: 1px solid white;
    height: 150px;
}
.time_p1{
color: orange;
margin-left: 20px;
margin-top: 20px;
font-size: 20px;
}
.time_p2{
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid orange;
    padding: 10px 20px;
    border-radius: 15px;
}
.basic_timeline2{
    width: 100%;
    height: 250px;
    display: flex;
}
.third_timeline{
    width: 49%;
    color: white;
}
.fourh_timeline{
    width: 49%;
    color: white;
    border-left: 1px solid white;
}
.time_p3{
color: white;
margin-left: 20px;
margin-right: 20px;
margin-top: 100px;
border: 1px solid orange;
padding: 10px 20px;
border-radius: 15px;
}
.time_p4{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 120px;
    color: orange;
}

.basic_timeline3{
    height: 150px;
    display: flex;
}
.fives_timeline{
    width: 49%;
    height: 300px;
    color: white;
}
.sixth_timeline{
    width: 49%;
    color: white;
    border-left: 1px solid white;
}
.time_p5{
color: orange;
margin-left: 20px;
font-size: 20px;
}
.time_p6{
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid orange;
    padding: 10px 20px;
    border-radius: 15px;
}

.basic_timeline4{
    width: 100%;
    height: 250px;
    display: flex;
}
.seven_timeline{
    width: 49%;
    color: white;
}
.eight_timeline{
    width: 49%;
    color: white;
    border-left: 1px solid white;
}
.time_p7{
color: white;
margin-left: 20px;
margin-right: 20px;
margin-top: 100px;
border: 1px solid orange;
padding: 10px 20px;
border-radius: 15px;
}
.time_p8{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 120px;
    color: orange;
}

.pointer{
    position: absolute;
    margin-left: 48.3%;
    margin-top: 850px;
    width: 1.5%;
    height: 3%;
    border: 1px solid orange;
    background-color: black;
    border-radius: 50%;
}
.pointer2{
    position: absolute;
    margin-left: 48.3%;
    margin-top: 1070px;
    width: 1.5%;
    height: 3%;
    border: 1px solid orange;
    background-color: black;
    border-radius: 50%;
}
.pointer3{
    position: absolute;
    margin-left: 48.3%;
    margin-top: 1250px;
    width: 1.5%;
    height: 3%;
    border: 1px solid orange;
    background-color: black;
    border-radius: 50%;
}
.pointer4{
    position: absolute;
    margin-left: 48.3%;
    margin-top: 1480px;
    width: 1.5%;
    height: 3%;
    border: 1px solid orange;
    background-color: black;
    border-radius: 50%;
}
.pointer4:hover{
    background-color: orangered;
    border: 0;
    transition: 0.2s linear;
}
.pointer3:hover{
    background-color: orangered;
    border: 0;
    transition: 0.2s linear;
}
.pointer2:hover{
    background-color: orangered;
    transition: 0.2s linear;
    border: 0;
}
.pointer:hover{
    background-color: orangered;
    border: 0;
    transition: 0.2s linear;
}




.center_block{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    display: flex;
    color: white;
    margin: auto;
    height: 600px;
    border-bottom: 1px solid orange;
}
.f_block{
    margin-left: 3%;
    width: 30%;
    height: 600px;
}
.f_img{
    position: relative;
    width: 100%;
    height: 66.6%;
    opacity: 0.7;
    transition: 0.3s;
}
.f_img:hover{
    border: 1px solid orange;
    transform: scale(1.1);
    opacity: 1;
}

.f_block_p{
    font-size: 17px;
    margin-left: 25px;
}
.s_block{
    margin-left: 3%;
    width: 30%;
    height: 600px;
 }
 .t_block{
    margin-left: 3%;
    width: 30%;
    height: 600px;
 }




.second_center_block{
    margin-top: 50px;
    display: flex;
    width: 100%;
    height: 500px;
    border-bottom: 1px solid orange;
}
.s_block_fimg{
    position: relative;
    margin-left: 3%;
    width: 30%;
    height: 80%;
    filter: grayscale(1);
    transition: 0.3s;
    border: 1px solid black
}
.s_block_fimg:hover{
    filter: grayscale(0);
transform: scale(1.1,1.1);
border: 1px solid orange;
}


.third_center_block{
    margin-top: 50px;
    display: flex;
    width: 100%;
    height: 400px;
}
.t_block_fimg{
    position: relative;
    margin-left: 3%;
    width: 30%;
    height: 100%;
    filter: grayscale(0.5);
    transition: 0.3s;
}
.t_block_fimg:hover{
    filter: grayscale(0);
transform: scale(1.1,1.1);
border: 1px solid orange;
}


.bar1, .bar2, .bar3{
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 5px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: none;
}
.hamburger{
    display: block;
}


























@media all and (max-width: 800px){
    .ul_li{
    padding: 40px 60px 40px 20px;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: -100%;
    background-color: beige;
    color: royalblue;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px;
    transition: 0.3s;
}
.ul_li .active{
    left: 0%;
}
.hamburger.active .bar2{
    opacity: 0;
}
.hamburger.active .bar1{
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar3{
    transform: translateY(8px) rotate(-45deg);
}
.ul_li > li+li {
    margin: 0px;
}
.hamburger{
    display: block;
}
.bar1{
    display: block;
    margin-left: 50%;
}
.bar2{
    display: block;
    margin-left: 90%;
}
.bar3{
    display: block;
    margin-left: 90%;
}

}
    
